version: '3'

networks:
  monitor:
    driver: bridge

services:
  saas-app:
    image: openjdk:17
    container_name: saas-saler-admin
    networks:
      - monitor
    working_dir: /app
    volumes:
      - ./target/saas-saler-admin-0.0.1-SNAPSHOT.jar:/app/app.jar
    ports:
      - 8080:8080
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - JAVA_OPTS=-Xmx512m -Xms256m
    command: [ "sh", "-c", "java $${JAVA_OPTS} -Dfile.encoding=UTF-8 -jar /app/app.jar --spring.profiles.active=$${SPRING_PROFILES_ACTIVE}" ]
    extra_hosts:
      - "host.docker.internal:host-gateway"



